<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new employee</title>
</head>
<body>
<h3>Welcome, Enter The Employee Details</h3>
<form th:method="POST" action="/employee/addEmployee" th:object="${employee}">
    <table>
        <tr>
            <td><label>Employee ID:</label></td>
            <td><input name="id" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td><label>Employee's name: </label></td>
            <td><input name="name" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label>Contact's number: </label></td>
            <td><input name="contactNumber" th:field="*{contactNumber}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>